<footer>
  <div class="widewrapper footer">
    <div class="container">
      <div class="row">
        <div class="col-md-6 footer-widget">
          <h3>
            <i class="fa fa-cog"></i>Statistics
          </h3>

          <span>Even we sometimes loose track of how many articles we actually have here.  This one helps:</span>

          <div class="stats">
            <div class="line">
              <span class="counter">27</span>
              <span class="caption">Articles</span>
            </div>
            <div class="line">
              <span class="counter">208</span>
              <span class="caption">Comments</span>
            </div>
            <div class="line">
              <span class="counter">2</span>
              <span class="caption">Authors</span>
            </div>
          </div>
        </div>

        <div class="col-md-6 footer-widget">
          <h3>
            <i class="fa fa-envelope"></i>Contact Me
          </h3>

          <span>I'm happy to hear from my readers. Thoughts, feedback, critique - all welcome! Drop me a line:</span>

          <span class="email">
            <a href="#">duggar.mails@gmail.com</a>
          </span>
        </div>
      </div>
    </div>
  </div>
</footer>